body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 320px;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.tabs button {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.tabs button.active {
  color: #ce5007;
  border-color: #c07007;
}

.calculator label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.operations {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.operations button {
  flex: 1;
  margin: 2px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  background: #f1f1f1;
  border: none;
  border-radius: 6px;
}

#calculate {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #df8704;
  color: rgb(27, 27, 27);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}

.operations button.active {
  background-color: #c0440b;
  color: #f1efee;
}
